.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 600px;
    max-height: 80%;
    overflow-y: auto;

}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#linkBtn{
    width: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
}

